.stepper {
  margin-top: 1rem;
}

.stepper__header {
  margin-bottom: 0.5rem;
  border-bottom: 0.0875rem solid rgba(170, 170, 170, 0.226);
}

.stepper__label {
  font-weight: bold;
  font-size: 0.875rem;
  box-sizing: border-box;
}

.stepper__label--text {
  color: var(--soft-font);
  opacity: 0.4;
}

.stepper__label--active .stepper__label--text {
  opacity: 1;
}

.stepper__label--indicator {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #0f7bff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  margin: 0.5rem;
  position: relative;
}

.stepper__label:not(:first-of-type) .stepper__label--indicator::before {
  content: "";
  width: 0.1rem;
  height: 1.28rem;
  background: #0f7bff9a;
  position: absolute;
  z-index: -0;
}

.stepper__label--indicator::before {
  bottom: 1.25rem;
}

.stepper__body {
  overflow: hidden;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}

.stepper__step {
  flex: 1;
  min-width: 100%;
  transition: 0.4s;
  translate: 0%;
}
