@import './(styles)/button.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
}

:root {
  --soft-font: #21313c;;
  --primary-color: #222222; /* Main color used in the interface */
  --secondary-color: #333333; /* Secondary color used in the interface */
  --tertiary-color: #2F2F2F99; /* Tertiary color used in the interface with transparency */
  --quaternary-color: #A4A4A4; /* Quaternary color used in the interface */
  --border-divider-color: #EFEFEF; /* Color used for borders in the interface */
  --background-color: #FFFFFF; /* Main background color used in the interface */
}

html {
  overflow-y: scroll;
}
