* {
  box-sizing: border-box;
}

a {
  color: #085dcc;
  text-decoration: none;
  transition: 0.25s;
}

a:hover {
  color: #146de0;
  text-decoration: underline;
}

.input--monospaced-control .input__control {
  font-family: 'Roboto Mono', monospace;
}

.simple-text {
  font-size: 0.875rem;
  font-weight: normal;
  color: var(--primary-color);
  padding-bottom: 0.25rem;
  color: #21313c;
  opacity: 0.85;
  margin-bottom: 0.5rem;
  display: block;
  line-height: 1.5rem;
}

.simple-text--center {
  text-align: center;
}

.simple-checkbox {
  font-weight: bold;
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.step-form {
  height: 24rem;
  /* outline: black 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  margin: auto;
  max-width: calc(1260px + 1rem);
  padding: 0.5rem;
}

.checkout-card__content {
  width: 100%;
}

.checkout-card {
  gap: 12px;
  display: flex;
  align-items: stretch; 
  flex-direction: row;
  max-height: 600px;
  overflow: hidden;
  height: 100%; 
}


@media screen and (max-width: 1024px) and (min-width: 768px) {
  .checkout-card {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  
  .checkout-card {
    flex-direction: column;
    max-height: 700px;
  }

  .checkout-card__image {
    height: 500px;
  }

}

.checkout-card__image {
  width: 100%;
  border: 1px solid rgba(4, 0, 0, 0.045);
  border-radius: 12px;
  background-image: url('/head/map.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

label[for='termsAndConditions'] {
  width: fit-content;
  cursor: pointer;
}

.checkout-count {
  height: 62px;
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px solid rgba(107, 107, 107, 0.281);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
  align-items: center;
}

.countdown-header h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
}

.countdown-timer p {
  margin: 0;
  display: flex;
  /* gap: 5px; */
  font-family: 'Roboto Mono', monospace;
}

.countdown-text {
  color: black;
}

.ctt {
  font-size: 1.2rem;
}

.countdown-number {
  color: red;
}

.title-head {
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 768px) {
  .title-head {
    font-size: 16px;
    margin-top: 32px;
  }

  .countdown-header h3 {
    font-size: 1rem;
  }

  .checkout-count {
    display: flex;
    gap: 6px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.ctt {
  font-size: 1.1rem;
}

.contact-det {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  margin-top: 12px;
}

}

.btn {
  width: 100%;
  font-size: 1rem;
}

.btns {
  display: flex;
  gap: 12px; 
}

