.ctt {
    animation: timerFadeIn 0.2s 0.2s forwards;
    font-weight: bold;
    opacity: 0;
}

@keyframes timerFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.countdown-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24px;
    position: relative;
    overflow: hidden;
    text-align: end;
}

.countdown-text span {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    transition: 0.2s;
    text-align: end;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.28rem;
}

@media (max-width: 768px) {
    .countdown-text span {
        font-size: 1.18rem;
    }
}

.countdown-text span + span {
    top: -125%;
}

.countdown-text span:first-of-type {
    animation: newTime 0.2s forwards;
}

@keyframes newTime {
    from {
        translate: 0 125%;
    }

    to {
        translate: 0 0;
    }
}

.countdown-number, .countdown-text {
    font-weight: bold;
    color: var(--soft-font);
}

.countdown-number + .countdown-text {
    margin-left: 0.25rem;
}

.countdown-text {
    margin-right: 0.15rem;

}