.input, 
.react-tel-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input__label, 
.react-tel-input > .special-label {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--primary-color);
  padding-bottom: 0.25rem;
  color: #21313c;
  opacity: 0.85;
}

.input__control, 
.react-tel-input > .form-control  {  
  width: 100%;
  height: 2.25rem;
  border-radius: 0.25rem;
  padding-inline: 0.75rem;
  font-weight: normal;
  font-size: 1rem;
  border: 0.075rem solid #89979b;
  background: #ffffff;
  color: var(--soft-font);
  outline: none;

  box-shadow: 0px 0px 0px 0px #e7eeec00;
  transition: box-shadow 150ms ease-in-out 0s;
}

.input:hover .input__control, 
.react-tel-input:hover > .form-control,
.input__control:hover, 
.react-tel-input > .form-control:hover {
  box-shadow: 0px 0px 0.1rem 0.15rem #e7eeec;
}

.input__control::placeholder, 
.react-tel-input > .form-control::placeholder {
  font-weight: 500;
  color: #4442;
}

.input--invalid .input__label::after, 
.input--invalid > .special-label::after {
  content: ' *';
  color: #F77;
}

/* 
  .input--invalid .input__control, 
  .input--invalid > .form-control {
    border-color: #EAA;
  } 
*/
