.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.input__label {
  font-size: 1.25rem;
  font-weight: 550;
  color: var(--primary-color);
  opacity: 0.85;
}

.input__control {
  font-size: 1.25rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border: 1.5px solid #AAA;
  color: #444;
}

.input__control::placeholder {
  color: #4444;
}
